.header_nav {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.header_nav li {
  margin-right: 30px;
}
/* エラーメッセージ用のスタイル */
.error {
  color: red;
}
/* 成功メッセージ用のスタイル */
.success {
  color: green;
}
/* 削除ボタン用のスタイル */
.delete {
  display: inline;
}

/*いいねボタン*/
.like_button {
  cursor: pointer;
}
.like {
  display: inline;
}
.like_post {
    background-color: #dccaca;
    border-top: solid 1px #e67c2e;
    border-bottom: solid 1px #e67c2e;
}
.like_post .post_body_heading {
    background-color: #dccaca;
}
.like_post .post_comments {
    background-color: #e4d6c7;
}
.like_post .like_button {
    color: yellow;
}

/* フォローボタン */
.follow {
  cursor: pointer;
}